In [21]:
import pandas as pd 
import numpy as np
import matplotlib.pyplot as plt
import seaborn as sns

In [22]:
# to read csv 
dataset = pd.read_csv('medical insurance dataset.csv')

In [23]:
dataset

      age     sex     bmi  children smoker     region      charges
0      19  female  27.900         0    yes  southwest  16884.92400
1      18    male  33.770         1     no  southeast   1725.55230
2      28    male  33.000         3     no  southeast   4449.46200
3      33    male  22.705         0     no  northwest  21984.47061
4      32    male  28.880         0     no  northwest   3866.85520
...   ...     ...     ...       ...    ...        ...          ...
1333   50    male  30.970         3     no  northwest  10600.54830
1334   18  female  31.920         0     no  northeast   2205.98080
1335   18  female  36.850         0     no  southeast   1629.83350
1336   21  female  25.800         0     no  southwest   2007.94500
1337   61  female  29.070         0    yes  northwest  29141.36030

[1338 rows x 7 columns]

In [24]:
dataset = dataset.iloc[:,:-1]

In [25]:
dataset

      age     sex     bmi  children smoker     region
0      19  female  27.900         0    yes  southwest
1      18    male  33.770         1     no  southeast
2      28    male  33.000         3     no  southeast
3      33    male  22.705         0     no  northwest
4      32    male  28.880         0     no  northwest
...   ...     ...     ...       ...    ...        ...
1333   50    male  30.970         3     no  northwest
1334   18  female  31.920         0     no  northeast
1335   18  female  36.850         0     no  southeast
1336   21  female  25.800         0     no  southwest
1337   61  female  29.070         0    yes  northwest

[1338 rows x 6 columns]

In [26]:
# Result of X is 2D Array
X = dataset.iloc[:,:-1].values

# result of y is 1D Array
y = dataset.iloc[:,-1].values

In [27]:
y

array(['southwest', 'southeast', 'southeast', ..., 'southeast',
       'southwest', 'northwest'], dtype=object)

In [28]:
# handle missing values for chategorical values 
from sklearn.compose import ColumnTransformer
from sklearn.preprocessing import OneHotEncoder,LabelEncoder
ct = ColumnTransformer(transformers=[('encoder',OneHotEncoder(),[1])],remainder='passthrough',n_jobs=-1)
X = ct.fit_transform(X)

In [29]:
X

array([[1.0, 0.0, 19, 27.9, 0, 'yes'],
       [0.0, 1.0, 18, 33.77, 1, 'no'],
       [0.0, 1.0, 28, 33.0, 3, 'no'],
       ...,
       [1.0, 0.0, 18, 36.85, 0, 'no'],
       [1.0, 0.0, 21, 25.8, 0, 'no'],
       [1.0, 0.0, 61, 29.07, 0, 'yes']], dtype=object)

In [30]:
ct = ColumnTransformer(transformers=[('encoder',OneHotEncoder(),[5])],remainder='passthrough',n_jobs=-1)
X = ct.fit_transform(X)

In [31]:
X

array([[0.0, 1.0, 1.0, ..., 19, 27.9, 0],
       [1.0, 0.0, 0.0, ..., 18, 33.77, 1],
       [1.0, 0.0, 0.0, ..., 28, 33.0, 3],
       ...,
       [1.0, 0.0, 1.0, ..., 18, 36.85, 0],
       [1.0, 0.0, 1.0, ..., 21, 25.8, 0],
       [0.0, 1.0, 1.0, ..., 61, 29.07, 0]], dtype=object)

In [32]:
y = y.reshape(-1,1)

In [33]:
ct = ColumnTransformer(transformers=[('encoder',LabelEncoder(),[0])],remainder='passthrough',n_jobs=-1)
y = ct.fit_transform(y)

TypeError: fit_transform() takes 2 positional arguments but 3 were given

In [18]:
print(y)

  (0, 3)	1.0
  (1, 2)	1.0
  (2, 2)	1.0
  (3, 1)	1.0
  (4, 1)	1.0
  (5, 2)	1.0
  (6, 2)	1.0
  (7, 1)	1.0
  (8, 0)	1.0
  (9, 1)	1.0
  (10, 0)	1.0
  (11, 2)	1.0
  (12, 3)	1.0
  (13, 2)	1.0
  (14, 2)	1.0
  (15, 3)	1.0
  (16, 0)	1.0
  (17, 0)	1.0
  (18, 3)	1.0
  (19, 3)	1.0
  (20, 0)	1.0
  (21, 3)	1.0
  (22, 2)	1.0
  (23, 0)	1.0
  (24, 1)	1.0
  :	:
  (1313, 3)	1.0
  (1314, 1)	1.0
  (1315, 0)	1.0
  (1316, 3)	1.0
  (1317, 2)	1.0
  (1318, 0)	1.0
  (1319, 1)	1.0
  (1320, 1)	1.0
  (1321, 0)	1.0
  (1322, 2)	1.0
  (1323, 2)	1.0
  (1324, 1)	1.0
  (1325, 0)	1.0
  (1326, 0)	1.0
  (1327, 2)	1.0
  (1328, 0)	1.0
  (1329, 3)	1.0
  (1330, 2)	1.0
  (1331, 3)	1.0
  (1332, 3)	1.0
  (1333, 1)	1.0
  (1334, 0)	1.0
  (1335, 2)	1.0
  (1336, 3)	1.0
  (1337, 1)	1.0

In [ ]:
from sklearn.linear_model import LogisticRegression
from sklearn.neighbors import KNeighborsClassifier
from sklearn.ensemble import RandomForestClassifier
from sklearn.model_selection import cross_val_score

In [ ]:
clf1 = LogisticRegression()
clf2 = KNeighborsClassifier()
clf3 = RandomForestClassifier()

In [ ]:
estimators = [('lr',clf1),('KNN',clf2),('RF',clf1)]

In [ ]:
for estimator in estimators:
    x = cross_val_score(estimator[1],X,y,cv=5,scoring='accuracy',verbose=1)
    print(estimator[0],np.round(np.mean(x),2))

In [ ]:
from sklearn.ensemble import VotingClassifier

In [ ]:
vc = VotingClassifier(estimators=estimators)
x = cross_val_score(vc,X,y,cv=10,scoring='accuracy')
print(np.round(np.mean(x)),2)

In [ ]:
from sklearn.ensemble import VotingClassifier

In [ ]:
vc1 = VotingClassifier(estimators=estimators,voting='soft')
x = cross_val_score(vc1,X,y,cv=10,scoring='accuracy')
print(np.round(np.mean(x)),2)

In [ ]:
for i in range(1,4):
    for j in range(1,4):
        for k in range(1,4):
            vc1 = VotingClassifier(estimators=estimators,voting='soft',weights=[i,j,k])
            x = cross_val_score(vc1,X,y,cv=10,scoring='accuracy')
            print("i = {}, j = {}, k = {}".format(i,j,k),np.round(np.mean(x)),2)